<footer class="footer" id="footer">
    <div class="container">
      <div class="footer__inner">
        <h1 class="footer__inner-title"><span>стать</span> меценатом</h1>

        <div class="footer__inner-wrapper">

          <div class="form">
            <form method="post">
              <div class="form__inner">
                <div class="form__inner-top">
                  <div class="form__inner-wrapper">
                    <input class="form__inner-input" type="text" placeholder="E-mail">
                    <input class="form__inner-input" type="text" placeholder="Компания">
                    <input class="form__inner-input" type="text" placeholder="Контактный телефон">
                    <input class="form__inner-input" type="text" placeholder="Имя">
                  </div>
                  <textarea class="form__inner-input textarea-input" placeholder="Сообщение"></textarea>
                </div>
                <div class="form__inner-bottom">
                  <p class="form__inner-info">* Ваши данные не будут переданы третьим лицам, 100% вероятность. Конфиденциальность мы гарантируем, и защищаем персональные данные согласно законку ФЗ-52.
                  </p>
                  <button class="submit-btn" type="submit">Отправить</button>
                </div>
              </div>
            </form>
          </div>

          <div class="contacts-footer">
            <div class="contacts-footer__left">
              <a class="contacts-footer__phone" href="tel:+74951234567">+7 495 123-45-67</a>
              <a class="contacts-footer__phone" href="tel:+74951234567">+7 495 123-45-67</a>
            </div>
            <div class="contacts-footer__right">
              <a class="contacts-footer__mail" href="#">info@theater.ru</a>
              <a class="contacts-footer__address" href="#">г. санкт-петербург, невский 140</a>
            </div>
          </div>

        </div>

        <div class="footer__copy">
          <p>(с) Все права защищены. Большой театр. 2020</p>
        </div>
      </div>
    </div>
</footer>
