<header class="header" id="header">
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>
  <nav class="menu-mobile menu-desktop">
    <button class="close-menu-btn"></button>
    <ul class="menu-mobile__list">
      <li class="menu-mobile__item">
        <a class="menu-mobile__link scroll-to" href="#header">Главная</a>
      </li>
      <li class="menu-mobile__item">
        <a class="menu-mobile__link scroll-to" href="#about">о театре</a>
      </li>
      <li class="menu-mobile__item">
        <a class="menu-mobile__link scroll-to" href="#product">Наши постановки</a>
      </li>
      <li class="menu-mobile__item">
        <a class="menu-mobile__link scroll-to" href="#partners">партнеры театра</a>
      </li>
      <li class="menu-mobile__item">
        <a class="menu-mobile__link scroll-to" href="#footer">контакты</a>
      </li>
    </ul>
    <div class="menu-mobile__social">
      <p class="menu-mobile__social-title">контактная информация</p>
      <div class="menu-mobile__social-links">
        <a class="menu-mobile__social-link" href="#">
          <object type="image/svg+xml" data="img/sprite.svg">
            Your  browser does not support SVG 
          </object>
          <svg class="menu-mobile__social-icon facebook-logo">
            <use xlink:href="img/sprite.svg#facebook-logo"></use>
          </svg>
        </a>
        <a class="menu-mobile__social-link" href="#">
          <svg class="menu-mobile__social-icon instagram-logo">
            <use xlink:href="img/sprite.svg#instagram-logo"></use>
          </svg>
        </a>
        <a class="menu-mobile__social-link" href="#">
          <svg class="menu-mobile__social-icon youtube-logo">
            <use xlink:href="img/sprite.svg#youtube-logo"></use>
          </svg>
        </a>
        <a class="menu-mobile__social-link" href="#">
          <svg class="menu-mobile__social-icon vk-logo">
            <use xlink:href="img/sprite.svg#vk-logo"></use>
          </svg>
        </a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="header__inner">
      <div class="header__inner-top">
        <button class="open-menu-btn"></button>
        <div class="contacts-header">
          <a class="contacts-header__phone" href="tel:+74951234567">+7 495 123-45-67</a>
        </div>
      </div>
      <div class="header__inner-bottom">
        <div class="info">
          <h1 class="info__title">Большой театр</h1>
          <p class="info__text">Большо́й теа́тр — петербургский театр, существовавший в 1784—1886 годах, с 1886 года — Петербургская консерватория. Первое постоянное в Санкт-Петербурге, крупнейшее в России и одно из крупнейших театральных зданий в Европе XVIII.
          </p>
          <a class="info__btn" href="#">афиша</a>
        </div>
        <div class="afisha__slider">
          <a class="afisha__slider-event" href="#">
            <img src="img/events-slider/event-1.jpg" alt="">
          </a>
          <a class="afisha__slider-event" href="#">
            <img src="img/events-slider/event-2.jpg" alt="">
          </a>
          <a class="afisha__slider-event" href="#">
            <img src="img/events-slider/event-3.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
